<h1>Gruppe <%= @bis_code.full_code %></h1>
<p><strong><%= @bis_code.label %></strong></p>

<% unless @bis_code.description.blank? %>
<p id="description"><%= @bis_code.description %></p>
<% end %>

<p><a href="http://www.digitaleprodukter.dk<%="?q=#{@bis_code.label}"%>">Søg efter denne kode på digitaleprodukter.dk</a></p>

<% unless @bis_code.references.blank? %>
<ul id="references">
  <% @bis_code.references_as_referrer.each do |ref| %>
  <li><%= ref.description %><br /><%= link_to "#{ref.reference.full_code} #{ref.reference.label}", ref.reference %></li>
  <% end %>
</ul>
<% end %>
</div>