<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="da" lang="da">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <title><%= yield :title %>BIS Kode system</title>
  <%= stylesheet_link_tag 'screen', :media => 'all' %>
</head>
<body>
  <div id="header">
    <div id="heading"><h1>Præsentation af BIS kode systemet</h1></div>
    <ul id="menu">
      <li><a href="/">Forside</a></li>
    </ul>
  </div>
  <div id="code_navigation">
    <div id="search">
      <% form_tag("/search", :method => :get) do %>
      <%= text_field_tag 'q' %>
      <%= submit_tag "Søg BIS koder" %>
      <% end %>
    </div>
    <%= build_hierachy_menu %>
  </div>

  <div id="content">
    <%= yield :layout %>
  </div>
</body>
</html>